*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: #DCDCDC;
    
}
#float-container {
    border: 3px solid #fff;
    padding: 20px;
}

#float-child {
    width: 30%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}  

#messageBox{
    background-color: red;
    color: white;
    margin: 0px;
    padding: 2%;
}